<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h1><i class="fas fa-flask fa-2x"></i></h1>
            <h2>¡Bienvenido a iLab!</h2>
            <p>Inicia sesión o regístrate para continuar</p>
            <a href="/users/login" class="btn btn-primary btn block mb-2">Iniciar sesión</a>
            <a href="/users/register" class="btn btn-secondary btn-block">Registrarse</a>
        </div>
    </div>
</div>